# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#ide
.idea
.vscode
.DS_Store

# Go workspace file
go.work

# large files
test/10mil.txt
bench/10000000.txt
bench/50000000.txt
