repos:
- repo: https://github.com/dnephin/pre-commit-golang
  rev: c17f835cf9f04b8b5ed1c1f7757cedc6728d8a21
  hooks:
    - id: go-fmt
    - id: go-vet
    - id: go-imports
    - id: go-cyclo
      args: [-over=15]
    - id: no-go-testing
    - id: golangci-lint
    - id: go-critic
    - id: go-unit-tests
    - id: go-mod-tidy
- repo: local
  hooks:
    - id: make-go-tests
      name: make go tests
      language: 'system'
      always_run: true
      entry: make test